#ul-continer {
    position: absolute;
    height: 50px;
    width: 100px;
}

.hidden {
    display: none;
    position: absolute;
    background-color: brown;
    list-style: none;
    padding: 0.4rem;
    margin-top: 0.7rem;
    width: auto;
    height: auto;
}

.visible {
    display: block;
    position: absolute;
    background: rgb(165,0,37);
    list-style: none;
    padding: 0.4rem;
    margin-top: 0.7rem;
    width: auto;
    height: auto;
    border-radius: 0.25rem;
    z-index: 1;
}

.dropdown:hover .hidden{
    display: block;
    background: rgb(165,0,37);
    border-radius: 0.25rem;
    z-index: 1;
}
