/* 
    container
    img-buttton-container
    img-title
    img-fig
    img
    img-text
    img-buttton-icon nex
    img-buttton-icon pre

*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 10px;
}

.img-title {
    position: absolute;
    top: 20%;
    right: 60%;
    color: red;
}

.img {
    height: 78vh;
    width: 80vw;
    border-radius: 3%;
}

.img-buttton-container {
    position: absolute;
    top: 50%;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    margin: 0;
    width: 10rem;
    height: 10rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.img-buttton-container:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    left: 1%;
}

.prev {
    right: 1%;
}

.img-text {

    top: 32%;
    left: 30%;
    position:absolute;
    color: red;

}