.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0;
    background-color: black;
    overflow: hidden;
}

.img-fig {
    position: relative;
    width: 100%;
    height: 100%;
}

.img {
    height: 90vh;
    width: 99vw;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%,  rgba(0,0,0,0) 100%);
    height: 30vh;
    width: 100%;
    padding-top: 10vh;
}

.img-title {
    margin-left: 10px;
    margin-top: 5rem;
    color: wheat;
    display: block;
}

.img-text {
    margin-left: 10px;
    color: wheat;
    display: block;
}

.img-buttton-container {
    position: absolute;
    top: 25%;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    margin: 0;
    width: 10rem;
    height: 10rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    z-index: 1;
}

.img-buttton-container:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    left: 1%;
}

.prev {
    right: 1%;
}



.img-buttton-icon {
    width: 50px;
    height: auto;
}

.perent {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.child {
    margin-left: 1rem;
    margin-right: 1rem;
}

#here {
    stroke: #9a9b9e;
    stroke-width: 1;
    fill: #9a9b9e;
}

#not-here {
    stroke:#9a9b9e;
    stroke-width: 1;
    fill:rgba(0, 0, 0, 0);
}

.fade-anim img {
    animation: fadeAnim 0.5s ease-out;
}

@keyframes fadeAnim {
    from {
        opacity: 0.5;
        transform: translateX(-0.5%);
    }
    to {
        opacity: 1;
        transform: translateX(0.5%);
    }
}